.tipo-carrito{
    font-family: 'Times New Roman', Times, serif !important;
}

.Subtotal{
    font-family: 'Times New Roman', Times, serif !important;
}

.Vaciar{
    font-family: 'Times New Roman', Times, serif !important;
}